<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Document</title>
    </head>
    <body>
        <main>
            <h1>Receipts</h1>
            <table>
                <tr>
                    <th>Vendor</th>
                    <th>Total</th>
                    <th>Tax</th>
                    <th>Date</th>
                    <th>Category</th>
                    <th>Account</th>
                </tr>
                {% for i in receipts_list %}
                    <tr>
                        <td>{{ i.vendor }}</td>
                        <td>{{ i.total }}</td>
                        <td>{{ i.tax }}</td>
                        <td>{{ i.date|date:"m/d/y" }}</td>
                        <td>{{ i.category.name }}</td>
                        <td>{{ i.account.name }}</td>
                    </tr>
                {% endfor %}
            </table>
        </main>
    </body>
</html>
